.menu-instagram,
.menu-twitter,
.menu-facebook{
border-right: solid 1px #21212133;

text-decoration: none;
margin-right: 10px;
padding-right: 10px;
color: #2196F3;
font-weight: 500;
font-size: 18px;
line-height: 1.22px;
}
.menu-linkedin{
    text-decoration: none;
    color: #2196F3;
    font-weight: 500;
font-size: 18px;
line-height: 1.22px;

}



.menu-social{

    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 64px;
    
    
}

.menu-tel{
    font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #2196F3;
margin-left: 0;
margin-bottom: 32px;

}
.menu-email{
font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;

color: #757575;
margin-left: 0;


}

.menu-socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 87%;
}
